body {
  /*width:100%;*/
  padding:0;
  margin:0;
  background-color: rgb(250, 250, 250)
  /*box-sizing: border-box;*/
}

/*.container {
	background-color: rgb(240,240,240);
}*/

.md-padding {
	width: 100%;
	margin: 4% auto;
}

md-content {
  background-color: rgb(63, 81, 181);
  width: 100%;
}

.dogImages {
	height: auto;
	width: 100%;
	overflow: hidden;
}

.dogImages img {
	height: auto;
	width: 100%;
}

.jumbotron {
	width: 100%;
}

.jumbotron h2 {
	font-size: 60px;
	margin-bottom: 3%;
	text-align: center;
}

h2, .jumbotron h4 {
	text-align: center;
}

/*
.jumbotron p {
  font-size: 20px;
  text-align: center;
  margin: 1% 15%;
}*/

/*.jumbotron form {
	border: 2px solid black;
	padding: 2%;
	width: 25%;
	margin-left: 38%;
	margin-top: 3%;
	text-align: center;
}*/

.jumbotron form .homeBtns {
	margin-top: 7%;
}

footer {
	text-align: center;
}

.content {
	 width: 650px;
	 height: 60vh;
	overflow-y: auto;
	overflow-x: auto;
}

/*img {
  width: 200px;
}*/

/*table {
  margin: 2% auto;
  /*table-layout: fixed;*/
  /*font-size: 16px;
}*/

/*table tr:first-child th {
  background-color: rgb(213,184,135);
}*/

/*.navbar-brand {
	font-size: 28px;
	font-weight: bolder;
}*/

form {
	margin-left: 25%;
	border: solid 2px black;
	width: 50%;
	padding: 4%;
}
