/*body {
  width:100%;
  padding:0;
  margin:0;
  box-sizing: border-box;
}*/

md-content {
  background-color: rgb(172,87,130);
}

.dogImages {
	height: 340px;
	width: 400px;
	overflow: hidden;
}

.dogImages img {
	height: auto;
	width: 400px;
	/*margin-left: 60px;*/
}

.jumbotron h2 {
	font-size: 60px;
	margin-bottom: 3%;
	text-align: center;
}

.jumbotron h4 {
	text-align: center;
}
/*
.jumbotron p {
  font-size: 20px;
  text-align: center;
  margin: 1% 15%;
}*/

.jumbotron form {
	border: 2px solid black;
	padding: 2%;
	width: 25%;
	margin-left: 38%;
	margin-top: 3%;
	text-align: center;
}

.jumbotron form .homeBtns {
	margin-top: 7%;
}

footer {
	text-align: center;
}

img {
  width: 200px;
}

/*table {
  margin: 2% auto;
  /*table-layout: fixed;*/
  /*font-size: 16px;
}*/

/*table tr:first-child th {
  background-color: rgb(213,184,135);
}*/

/*.navbar-brand {
	font-size: 28px;
	font-weight: bolder;
}*/

/*#dogCard {
	margin-top: 5%;
}*/
