<h1>Fetch Me Dogs That Are...</h1>

<div ng-controller="HitApiController">

<form>
	<button type="button" name="button" ng-click="hitAPI()">Hit API</button>

	<!-- API takes care of case insensitivity - user can type capitalized breeds or not, get same results back -->
	<!-- if field left blank, return all breeds that also fit other search criteria -->
	<div>
		<h4>Primary Breed:</h4>
		<input type="text" name="breed" value="" ng-model="breedIn" placeholder="e.g. Great Dane"><br>
		<p>* Enter either the full name of the breed you're seeking, or keywords such as "poodle" or "hound".<br>
			* Spelling counts, so ask the Google if you're unsure. This app isn't your mom; it won't correct you.<br>
			* NOT case-sensitive. You're welcome.
		</p><br>
	</div>
	<div>
		<h4>Gender:</h4>
		<input type="radio" name="gender" ng-model="genderIn" value="male"> Male<br>
		<input type="radio" name="gender" ng-model="genderIn" value="female"> Female<br>
		<input type="radio" name="gender" ng-model="genderIn" value="noPreference" checked> No Preference<br><br>
	</div>
	<div>
		<h4>Age:</h4>
		<input type="radio" name="age" ng-model="ageIn" value="baby"> Baby<br>
		<input type="radio" name="age" ng-model="ageIn" value="young"> Young<br>
		<input type="radio" name="age" ng-model="ageIn" value="adult"> Adult<br>
		<input type="radio" name="age" ng-model="ageIn" value="senior"> Senior<br>
		<input type="radio" name="age" ng-model="ageIn" value="noPreference" checked> No Preference<br><br>
	</div>
	<div>
		<h4>Size:</h4>
		<input type="radio" name="size" ng-model="sizeIn" value="small"> Small<br>
		<input type="radio" name="size" ng-model="sizeIn" value="medium"> Medium<br>
		<input type="radio" name="size" ng-model="sizeIn" value="large"> Large<br>
		<input type="radio" name="size" ng-model="sizeIn" value="x-large"> X-Large<br>
		<input type="radio" name="size" ng-model="sizeIn" value="noPreference" checked> No Preference<br><br>
	</div>
	<div>
		<h4>Dog Friendly:</h4>
		<input type="radio" name="dogFriendly" ng-model="dogFriendlyIn" value="yes"> Yes<br>
		<input type="radio" name="dogFriendly" ng-model="dogFriendlyIn" value="noPreference" checked> No Preference<br><br>
	</div>
	<div>
		<h4>Cat Friendly:</h4>
		<input type="radio" name="catFriendly" ng-model="catFriendlyIn" value="yes"> Yes<br>
		<input type="radio" name="catFriendly" ng-model="catFriendlyIn" value="noPreference" checked> No Preference<br><br>
	</div>
	<div>
		<h4>Kid Friendly:</h4>
		<input type="radio" name="kidFriendly" ng-model="kidFriendlyIn" value="yes"> Yes<br>
		<input type="radio" name="kidFriendly" ng-model="kidFriendlyIn" value="noPreference" checked> No Preference<br><br>
	</div>
	<div>
		<h4>Energy Level:</h4>
		<input type="radio" name="energyLevel" ng-model="energyLevelIn" value="low"> Low<br>
		<input type="radio" name="energyLevel" ng-model="energyLevelIn" value="moderate"> Moderate<br>
		<input type="radio" name="energyLevel" ng-model="energyLevelIn" value="high"> High<br>
		<input type="radio" name="energyLevel" ng-model="energyLevelIn" value="noPreference" checked> No Preference<br><br>
	</div>
	<div>
		<h4>Housetrained:</h4>
		<input type="radio" name="housetrained" ng-model="housetrainedIn" value="yes"> Yes<br>
		<input type="radio" name="housetrained" ng-model="housetrainedIn" value="noPreference" checked> No Preference<br><br>
	</div>
	<div>
		<h4>Crate-trained:</h4>
		<input type="radio" name="cratetrained" ng-model="cratetrainedIn" value="yes"> Yes<br>
		<input type="radio" name="cratetrained" ng-model="cratetrainedIn" value="noPreference" checked> No Preference<br><br>
	</div>

<!-- *****STRETCH GOAL???***** Have to use the value to search API and NOT return those results. Also, user need to be able to check as many as want. -->
	<!-- <div ng-model="showstoppers">
		<h4>Traits you would not tolerate in a dog (check all that apply):</h4>
	 	<input type="checkbox" name="specialNeeds" value="specialNeeds"> Has special needs/requires ongoing medical care<br>
		<input type="checkbox" name="deaf" value="deaf"> Deaf<br>
		<input type="checkbox" name="blind" value="blind"> Blind<br>
		<input type="checkbox" name="drooler" value="drooler"> Excessive Drooler<br>
		<input type="checkbox" name="sheds" value="sheds"> Sheds<br>
		<input type="checkbox" name="allergies" value="allergies"> Has allergies<br>
		<input type="checkbox" name="noLargeDogs" value="noLargeDogs"> Cannot live with large dogs<br>
		<input type="checkbox" name="noSmallDogs" value="noSmallDogs"> Cannot live with small dogs<br>
		<input type="checkbox" name="noMaleDogs" value="noMaleDogs"> Cannot live with male dogs<br>
		<input type="checkbox" name="noFemaleDogs" value="noFemaleDogs"> Cannot live with female dogs<br>
		<input type="checkbox" name="noCritters" value="noCritters"> Cannot live with farm animals/critters<br>
		<input type="checkbox" name="noYoungKids" value="noYoungKids"> Cannot live with young kids<br>
		<input type="checkbox" name="vocal" value="vocal"> Vocal<br>
	</div> -->

</form>

</div>
