<!--TESTING DB CONNECTION/ROUTES - eventually needs to pull from Rescue Groups API in combination with user preferences-->
<input type="text" ng-model="nameIn" value="" placeholder="Dog's Name">
<input type="text" ng-model="ageIn" value="" placeholder="Dog's Age">
<input type="text" ng-model="breedIn" value="" placeholder="Dog's Breed(s)">

<button type="button" name="addButton" ng-click="addDog()">Add to Favorites</button>


<!-- testing API access -->
<div ng-controller="HitApiController">
	<h3>Test API Access</h3>
	<button type="button" name="button" ng-click="hitAPI()"></button>
</div>


<!-- testing modal functioning -->
<div ng-controller="ModalController">
	<h3>Test Modal Functioning</h3>
	<button type="button" name="button" ng-click=openModal()>Open the Modal Button</button>
</div>
