<h4>
	Search & Rescue is a web application that was created to enable users to find adoptable dogs based on search criteria they provide. This includes but is not limited to age, breed, size, and energy level. The search results made available to the user from the Rescue Groups API are intentionally scoped to adoptable dogs from shelters and rescues as a means of advocating for adoption and rescue. Once the user has entered their search criteria (all fields except breed are required), they can express disinterest or interest in a dog. Expressing interest will automatically save that dog to their personal Favorites list that they can return to at any time to reference. Where available, the data pulled for each dog will include contact information for the rescue/shelter (e.g. link to their website, phone number, etc), so the user has the ability to contact them directly regarding adoption of one of their dogs.
</h4>

<!-- TEST -->

<!-- <div ng-controller="SanitizeController">
	<p ng-bind-html="myHTML"></p>
</div> -->

<!-- TEST -->
