<h1>Fetch Me Dogs That Are...</h1>

<div ng-controller="HitApiController">

<!-- trying to show one dog at a time from API - not working right now -->
	<div ng-repeat="doggie in showMeTheDogs">
		<div ng-if="dog_index == $index">
			{{doggie.data}}
		</div>
	</div>
	<button type="button" name="button" ng-click="next()">Next Dog</button>


	<!-- example dog to DOM -->
<!-- <div ng-repeat="dog in showMeTheDogs"> -->
	<!-- Name: {{dog.data[3617177].animalName}} <br>
	Breed(s): {{dog.data[3617177].animalBreed}} <br>
	Primary Breed: {{dog.data[3617177].animalPrimaryBreed}} <br>
	Gender: {{dog.data[3617177].animalSex}} <br>
	General Age: {{dog.data[3617177].animalGeneralAge}} <br>
	Exact Birthday: {{dog.data[3617177].animalBirthdateExact}} <br>
	Location: {{dog.data[3617177].animalLocation}} <br>
	General Size: {{dog.data[3617177].animalGeneralSizePotential}} <br>
	Housetrained: {{dog.data[3617177].animalHousetrained}} <br>
	Cratetrained: {{dog.data[3617177].animalCratetrained}} <br>
	Energy Level: {{dog.data[3617177].animalEnergyLevel}} <br>
	Good with Dogs: {{dog.data[3617177].animalOKWithDogs}} <br>
	Good with Cats: {{dog.data[3617177].animalOKWithCats}} <br>
	Good with Kids: {{dog.data[3617177].animalOKWithKids}} <br>
	Description: {{dog.data[3617177].animalDescriptionPlain}} <br>
	Adoption Fee: {{dog.data[3617177].animalAdoptionFee}} <br>
	URL: {{dog.data[3617177].animalUrl}} <br>
</div> -->

<form>
	<button type="button" name="button" ng-click="hitAPI()">Hit API</button>

	<div>
		<h4>5-digit ZIP Code:</h4>
		<input type="text" name="location" ng-model="zipcodeIn" value="" placeholder="e.g. 80022"><br><br>
	</div>
	<div>
		<h4>Search Radius from ZIP Code (miles):</h4>
		<input type="text" name="searchRadius" ng-model="searchRadiusIn" value="" placeholder="e.g. 35"><br><br>
	</div>
	<!-- API takes care of case insensitivity - user can type capitalized breeds or not, get same results back -->
	<!-- if field left blank, return all breeds that also fit other search criteria -->
	<div>
		<h4>Primary Breed:</h4>
		<input type="text" name="breed" value="" ng-model="breedIn" placeholder="e.g. Great Dane"><br>
		<p>* Enter either the full name of the breed you're seeking, or keywords such as "poodle" or "hound".<br>
			* Spelling counts, so ask the Google if you're unsure. This app isn't your mom; it won't correct you.<br>
			* NOT case-sensitive. You're welcome.
		</p><br>
	</div>
	<div>
		<h4>Gender:</h4>
		<input type="radio" name="gender" ng-model="genderIn" value="male"> Male<br>
		<input type="radio" name="gender" ng-model="genderIn" value="female"> Female<br>
		<input type="radio" name="gender" ng-model="genderIn" value="noPreference" checked> No Preference<br><br>
	</div>
	<div>
		<h4>Age:</h4>
		<input type="radio" name="age" ng-model="ageIn" value="baby"> Baby<br>
		<input type="radio" name="age" ng-model="ageIn" value="young"> Young<br>
		<input type="radio" name="age" ng-model="ageIn" value="adult"> Adult<br>
		<input type="radio" name="age" ng-model="ageIn" value="senior"> Senior<br>
		<input type="radio" name="age" ng-model="ageIn" value="noPreference" checked> No Preference<br><br>
	</div>
	<div>
		<h4>Size:</h4>
		<input type="radio" name="size" ng-model="sizeIn" value="small"> Small<br>
		<input type="radio" name="size" ng-model="sizeIn" value="medium"> Medium<br>
		<input type="radio" name="size" ng-model="sizeIn" value="large"> Large<br>
		<input type="radio" name="size" ng-model="sizeIn" value="x-large"> X-Large<br>
		<input type="radio" name="size" ng-model="sizeIn" value="noPreference" checked> No Preference<br><br>
	</div>
	<div>
		<h4>Dog Friendly:</h4>
		<input type="radio" name="dogFriendly" ng-model="dogFriendlyIn" value="yes"> Yes<br>
		<input type="radio" name="dogFriendly" ng-model="dogFriendlyIn" value="noPreference" checked> No Preference<br><br>
	</div>
	<div>
		<h4>Cat Friendly:</h4>
		<input type="radio" name="catFriendly" ng-model="catFriendlyIn" value="yes"> Yes<br>
		<input type="radio" name="catFriendly" ng-model="catFriendlyIn" value="noPreference" checked> No Preference<br><br>
	</div>
	<div>
		<h4>Kid Friendly:</h4>
		<input type="radio" name="kidFriendly" ng-model="kidFriendlyIn" value="yes"> Yes<br>
		<input type="radio" name="kidFriendly" ng-model="kidFriendlyIn" value="noPreference" checked> No Preference<br><br>
	</div>
	<div>
		<h4>Energy Level:</h4>
		<input type="radio" name="energyLevel" ng-model="energyLevelIn" value="low"> Low<br>
		<input type="radio" name="energyLevel" ng-model="energyLevelIn" value="moderate"> Moderate<br>
		<input type="radio" name="energyLevel" ng-model="energyLevelIn" value="high"> High<br>
		<input type="radio" name="energyLevel" ng-model="energyLevelIn" value="noPreference" checked> No Preference<br><br>
	</div>
	<div>
		<h4>Housetrained:</h4>
		<input type="radio" name="housetrained" ng-model="housetrainedIn" value="yes"> Yes<br>
		<input type="radio" name="housetrained" ng-model="housetrainedIn" value="noPreference" checked> No Preference<br><br>
	</div>
	<div>
		<h4>Crate-trained:</h4>
		<input type="radio" name="cratetrained" ng-model="cratetrainedIn" value="yes"> Yes<br>
		<input type="radio" name="cratetrained" ng-model="cratetrainedIn" value="noPreference" checked> No Preference<br><br>
	</div>

<!-- *****STRETCH GOAL???***** Have to use the value to search API and NOT return those results. Also, user need to be able to check as many as want. -->
	<!-- <div ng-model="showstoppers">
		<h4>Traits you would not tolerate in a dog (check all that apply):</h4>
	 	<input type="checkbox" name="specialNeeds" value="specialNeeds"> Has special needs/requires ongoing medical care<br>
		<input type="checkbox" name="deaf" value="deaf"> Deaf<br>
		<input type="checkbox" name="blind" value="blind"> Blind<br>
		<input type="checkbox" name="drooler" value="drooler"> Excessive Drooler<br>
		<input type="checkbox" name="sheds" value="sheds"> Sheds<br>
		<input type="checkbox" name="allergies" value="allergies"> Has allergies<br>
		<input type="checkbox" name="noLargeDogs" value="noLargeDogs"> Cannot live with large dogs<br>
		<input type="checkbox" name="noSmallDogs" value="noSmallDogs"> Cannot live with small dogs<br>
		<input type="checkbox" name="noMaleDogs" value="noMaleDogs"> Cannot live with male dogs<br>
		<input type="checkbox" name="noFemaleDogs" value="noFemaleDogs"> Cannot live with female dogs<br>
		<input type="checkbox" name="noCritters" value="noCritters"> Cannot live with farm animals/critters<br>
		<input type="checkbox" name="noYoungKids" value="noYoungKids"> Cannot live with young kids<br>
		<input type="checkbox" name="vocal" value="vocal"> Vocal<br>
	</div> -->

</form>

</div>
