<div ng-controller='FavoriteDogsController'>
	<p>
		in favorites.html
	</p>
</div>


<!-- <button type="button" name="favoritesButton" ng-click="getDogs()">View Favorites</button> -->

<!--TESTING DB CONNECTION/ROUTES - display to DOM all dogs in array of dog objects from adoptiondb-->
<!-- eventually dog info will be saved to db and displayed here when user clicks 'like' button -->
<!-- <table class="table table-striped">
	<tr>
		<th>Pet's Name</th>
	      <th>Age</th>
		<th>Breed</th>
	      <th>Delete</th>
	</tr>
	<tr ng-repeat="dog in allDogs">
	      <td>{{dog.name}}</td>
	      <td>{{dog.age}}</td>
	      <td>{{dog.breed}}</td>
	      <td><button type="button" name="deleteButton" class="btn btn-default" id="{{dog._id}}" ng-click="deleteDog($index)">Delete</button></td>
	</tr>
</table> -->
