<div ng-controller="SettingsAPIController" ng-init="hitAPI()">
	<button type="button" name="button" class="btn btn-success" ng-click="hitAPI()">Go Fetch</button>


	<!--display to DOM all search results from API-->
  	<table class="table table-striped" class="table-responsive">
    		<tr>
			<th>Add to Favorites</th>
			<th>Images</th>
			<th>API ID?</th>
		      <th>Name</th>
		      <th>Breed(s)</th>
		      <th>Primary Breed</th>
			<th>Gender</th>
			<th>Age</th>
			<th>Birthdate</th>
			<th>Size</th>
			<th>Good with Dogs</th>
			<th>Good with Cats</th>
			<th>Good with Kids</th>
			<th>Energy Level</th>
			<th>Housetrained</th>
			<th>Cratetrained</th>
			<th>Description</th>
			<th>Location (ZIP Code)</th>
			<th>Adoption Fee (USD)</th>
			<th>URL</th>
		</tr>
		<!-- allDogs is array of dog objects returned from API -->
    		<tr ng-repeat="dog in allDogs">
			<td><button type="button" name="button" class="btn btn-default" ng-click="addDog($index);">Add &#128062;</button></td>
			<td><img ng-src="{{dog.animalPictures[0].urlSecureFullsize}}"/></td>
			<td>{{dog.animalName}}</td>
		      <td>{{dog.animalBreed}}</td>
			<td>{{dog.animalPrimaryBreed}}</td>
			<td>{{dog.animalSex}}</td>
			<td>{{dog.animalGeneralAge}}</td>
			<td>{{dog.animalBirthdateExact}}</td>
			<td>{{dog.animalGeneralSizePotential}}</td>
			<td>{{dog.animalOKWithDogs}}</td>
			<td>{{dog.animalOKWithCats}}</td>
			<td>{{dog.animalOKWithKids}}</td>
			<td>{{dog.animalEnergyLevel}}</td>
			<td>{{dog.animalHousetrained}}</td>
			<td>{{dog.animalCratetrained}}</td>
			<td>{{dog.animalDescriptionPlain}}</td>
			<td>{{dog.animalLocation}}</td>
			<td>{{dog.animalAdoptionFee}}</td>
			<td>{{dog.animalUrl}}</td>
    		</tr>
  	</table>
</div>


<!-- testing modal functioning -->
<!-- <div ng-controller="ModalController">
	<h3>Test Modal Functioning</h3>
	<button type="button" name="button" ng-click=openModal()>Open the Modal Button</button>
</div> -->
